<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Quyền camera bắt buộc -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:largeHeap="true"
        android:usesCleartextTraffic="true">

        <!-- Màn hình xác thực tài xế - TẮT TẠM ĐỂ TEST -->
        <activity
            android:name=".DriverVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <!-- Màn hình chính - BẬT LAUNCHER ĐỂ TEST TRỰC TIẾP -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>



<!--    <?xml version="1.0" encoding="utf-8"?>-->
<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--xmlns:tools="http://schemas.android.com/tools">-->

<!--&lt;!&ndash; Quyền camera bắt buộc &ndash;&gt;-->
<!--<uses-permission android:name="android.permission.CAMERA" />-->
<!--<uses-permission android:name="android.permission.INTERNET"/>-->

<!--<uses-feature android:name="android.hardware.camera" android:required="true" />-->

<!--<application-->
<!--    android:allowBackup="true"-->
<!--    android:dataExtractionRules="@xml/data_extraction_rules"-->
<!--    android:fullBackupContent="@xml/backup_rules"-->
<!--    android:icon="@mipmap/ic_launcher"-->
<!--    android:label="@string/app_name"-->
<!--    android:roundIcon="@mipmap/ic_launcher_round"-->
<!--    android:supportsRtl="true"-->
<!--    android:theme="@style/Theme.MyApplication"-->
<!--    android:largeHeap="true"-->
<!--    android:usesCleartextTraffic="true">-->

<!--    &lt;!&ndash; Màn hình xác thực tài xế - Chạy đầu tiên &ndash;&gt;-->
<!--    <activity-->
<!--        android:name=".DriverVerifyActivity"-->
<!--        android:exported="true"-->
<!--        android:screenOrientation="portrait">-->
<!--        <intent-filter>-->
<!--            <action android:name="android.intent.action.MAIN" />-->
<!--            <category android:name="android.intent.category.LAUNCHER" />-->
<!--        </intent-filter>-->
<!--    </activity>-->

<!--    &lt;!&ndash; Màn hình chính (Chạy sau khi xác thực thành công) &ndash;&gt;-->
<!--    <activity-->
<!--        android:name=".MainActivity"-->
<!--        android:exported="false"-->
<!--        android:screenOrientation="portrait"-->
<!--        android:windowSoftInputMode="adjustResize">-->
<!--    </activity>-->
<!--</application>-->

<!--</manifest>-->